*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 10;
  width: calc(100% - 40px);
  padding:12 20px;
  border-radius:24px;
  background:rgba(255,255,255,0.04);
  border:1px solid rgba(255,255,255,0.08);
  backdrop-filter:blur(12px);
  -webkit-backdrop-filter:blur(12px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.05);
  transition: background 500ms ease;
  overflow: hidden;
}
.navleft{
  display: flex;
  align-items: center;
  gap: 2px;
}

.nav-logo{
  height: 45px;
  width: 76px;
}
.nav-title{display: flex; justify-content: flex-start; align-items: center;}
 .nav-title p{display: none;}
.nav-title-main{
  font-size: 2rem;
  font-weight:800;
  letter-spacing:-1px;
  color:#24defb;
  margin-bottom: 3px;
}
.projects .nav-title-main{
  color:#c8caca;
}
.title-separator{
  font-size:clamp(1.2rem, 2vw, 1.5rem);
  font-weight:400;
  color:#94a3b8;
}
.navright{
  display: flex;
  margin-right: 20px;
  gap: 5%;
}
.nav-item{
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:12px;
  font-size:0.9rem;
  color:#cbd5e1;
  cursor:pointer;
  text-decoration: none;
  transition:all 250ms ease;
}
.nav-item:hover{
  background:rgba(255,255,255,0.05);
  transform:translateY(-2px);
}
.nav-item.active-tab{
  border:1px solid rgba(251,191,36,0.18);
  font-weight:600;
  background:rgba(11, 226, 245, 0.14);
  color:#24defb;
}
@media(max-width:768px){
  .navbar{ flex-direction:column; gap:10px; padding:20px 10px; }
  .nav-logo-box{ margin-left: -3%; }
  .scrollActive{ left: -90%; background:rgba(8, 115, 139, 0.85);}
}
@media (max-width:535px) {
 .hid-name{ display: none; } 
 .nav-logo{ height: 33px; width: 54px; margin-right: 3px;}
 .nav-title-main{ font-size: 1.7rem; margin-top: -2px; }
 .nav-title p{display: block; margin-top: 5px; margin-left: 5px; font-size:clamp(0.8rem, 2vw, 1rem); font-weight:400; color:#94a3b8;}
 .title-separator{ display: none;}
 .navright{ gap: 2%;}
 .nav-item{ padding:9px 10px; font-size:clamp(0.7rem, 3vw, 0.9rem); }
 .scrollActive{ left: -85%; background:rgba(8, 115, 139, 0.85);}
}

@media (max-width:345) {
 .nav-title-main{ font-size: 1.5rem; margin-bottom: 2.6px; }
}
@media (max-width:270px) {
 .nav-title-main{ font-size: 1.5rem; margin-bottom: 2.6px; }
}